<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxbang.friday.dao.FireOrgDao">

	<sql id="where">
		<where>
			<if test="params != null">
			<if test="params.orgId != null and params.orgId != ''">
				and org_id = #{params.orgId} 
			</if>
			<if test="params.orgName != null and params.orgName != ''">
				and org_name = #{params.orgName} 
			</if>
			<if test="params.payNumber != null and params.payNumber != ''">
				and pay_number = #{params.payNumber} 
			</if>
			<if test="params.address != null and params.address != ''">
				and address = #{params.address} 
			</if>
			<if test="params.phone != null and params.phone != ''">
				and phone = #{params.phone} 
			</if>
			<if test="params.account != null and params.account != ''">
				and account = #{params.account} 
			</if>

			</if>
		</where>
	</sql>

	<select id="count" resultType="int">
		select count(1) from fire_org t
		<include refid="where" />
	</select>

	<select id="list" resultType="FireOrg">
		select * from fire_org t
		<include refid="where" />
		limit #{offset}, #{limit}
	</select>

	<update id="update">
		update fire_org t
		<set>
			<if test="orgId != null">
				org_id = #{orgId}, 
			</if>
			<if test="orgName != null">
				org_name = #{orgName}, 
			</if>
			<if test="payNumber != null">
				pay_number = #{payNumber}, 
			</if>
			<if test="address != null">
				address = #{address}, 
			</if>
			<if test="phone != null">
				phone = #{phone}, 
			</if>
			<if test="account != null">
				account = #{account}, 
			</if>

		</set>
		where t.org_id = #{orgId}
	</update>

</mapper>
